<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Portafolio</h2>
<!-- <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Topics that I want to learn more about.</p> -->
<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.topics %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div>

<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Páginas web</h3>
<div class="d-flex flex-wrap gutter-condensed mb-4">
  <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <a
      href="https://acri.rumpere.org/" target="_blank" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
      <!-- <img src="http://geaproductosverdes.com/resources/assets/img/gea-logo.png" style="width: 100%; background: contain" class="mx-auto rounded-1 mb-3" alt=""> -->
      <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">Acri - Acreditadora Ciudadana</p>
    </a>
  </div>

  <!-- <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <a
      href="http://geaproductosverdes.com/" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
      <img src="http://geaproductosverdes.com/resources/assets/img/gea-logo.png" style="width: 100%; background: contain" class="mx-auto rounded-1 mb-3" alt="">
      <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1">Gea Productos Verdes</p>
    </a>
  </div> -->

  <!-- <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <a
      href="http://www.bikepad.com.mx/" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
      <img src="http://www.bikepad.com.mx/assets/img/logo.png" style="width: 100%; background: contain" class="mx-auto rounded-1 mb-3" alt="">
      <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1" >Bikepad</p>
    </a>
  </div> -->

  <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <a
      href="https://meridalivingrealestate.com/" target="_blank" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
      <img src="https://meridalivingrealestate.com/images/logo/logo.png" style="width: 100%; background: contain" class="mx-auto rounded-1 mb-3" alt="">
      <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1" >Merida Living Real Estate</p>
    </a>
  </div>
  <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <a
      href="https://pm23yucatan.com/" target="_blank" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
      <img src="https://pm23yucatan.com/img/LogotipoAbreviadoPM23ColoresOriginales.png" style="width: 100%; background: contain" class="mx-auto rounded-1 mb-3" alt="">
      <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1" >PM23Yucatan</p>
    </a>
  </div>

  <!-- <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
    <a
      href="https://caremobile.mx/" class="github-component position-relative hover-grow height-full no-underline d-flex flex-column flex-justify-center text-center border border-gray-light rounded-1 bg-white p-5">
      <img src="https://caremobile.mx/img/logo_care.png" style="width: 100%; background: contain" class="mx-auto rounded-1 mb-3" alt="">
      <p class="f3 lh-condensed text-center link-gray-dark mb-0 mt-1" >Caremobile</p>
    </a>
  </div> -->
    
  
</div>